.about-us {
    width: 100vw;
    height: 100vh;
    margin-bottom: 10%;
}
.about-us-img {
    position: fixed;
    margin-top: 20%;
    padding-left: 10%;
}
.about-us-heading {
    margin-top: 20%;
    padding-left: 10%;
}


