.card-button {
    background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
    margin: 10px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    position: relative;
    top: 150px;
}
.card-button:hover {
background-position: right center; /* change the direction of the change here */
color: #fff;
text-decoration: none;
}
 