.footer {
    padding: 4%;
    background-color: black;
    padding-left: 6%;
}
ul{
    list-style-type: none;
}
a {
    text-decoration: none;
}
.f-link {
    color: white;
}
.footer-col-1 {
    margin-left: 0 !important;
    padding-left: 2.5em;
}
.footer-col-2 {
    padding-left: 2.5em;
}
.footer-col-1 li{
    margin-bottom: 10px;
}
.footer-col-2 li{
    margin-bottom: 10px;
}
.social-links li{
    display: inline-block;
}
.social-links{
    margin-bottom: 0;
}
.decor:hover {
    background: -webkit-linear-gradient(216deg, rgba(176,11,210,1) 0%, rgba(194,24,66,1) 35%, rgba(14,30,219,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.quick:hover {
    background: -webkit-linear-gradient(216deg, rgb(21, 11, 210) 0%, rgba(194,24,66,1) 35%, rgb(14, 219, 93) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}