.footer {
    padding-top: 5%;
    padding-bottom: 3%;
    background-color: black;
}
ul{
    list-style-type: none;
}
a {
    text-decoration: none;
}
.f-link {
    color: white;
}
.footer-col-1 li{
    margin-bottom: 10px;
}
.footer-col-2 li{
    margin-bottom: 10px;
}
/* .f-link:hover {
    padding-left: 14px;
} */
.social-links li{
    display: inline-block;
}
.social-links{
    margin-bottom: 0;
}
.aarav:hover {
    background: -webkit-linear-gradient(216deg, rgba(176,11,210,1) 0%, rgba(194,24,66,1) 35%, rgba(14,30,219,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

