.title-box {
    background-image: url("../assets/header_bg.jpg");
    height: 100vh;
    width: 100vw;
    background-size: 100%;
}
.title-box {
    padding-top: 15%;
}
.title {
    padding-top: 4em;
    padding-right: 5em;
}
.theme {
    background-size: cover;
    padding-top: 5em;
    background-image: url("../assets/theme_bg.jpg");
    width: 100%;
    min-height: 100vh;
    padding-bottom: 10%;
}
.technun-logo {
    position:relative;
    left: 20%;
    width: 300px;
    height: 300px;
}

.team-word {
    background-image: url("../assets/team-word.jpg");
    padding-top: 10%;
    width: 100vw;
    min-height: 100vh;
}