@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

@font-face {
    font-family: "Stopmotion";
    src: local("Stopmotion"),
      url("../fonts/Stopmotion.ttf") format("truetype");
}

@font-face {
    font-family: "Benedict";
    src: local("Benedict"),
      url("../fonts/Benedict.otf") format("opentype");
}

.title-box {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    margin-left: 10%;
    background-image: url("../assets/home_bg.jpg");
    background-size: cover;
}

.title {
    font-family: "Stopmotion";
    white-space: nowrap;
    width: 39em;
}
.title h1 {
    text-shadow: 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}

.namecontainer
{
    display: flex;

}
.logoDiv
{
    height: 1px;
    width: 75px;
}

.glimpse {
    background-image: url("../assets/glimpse.jpg");
    background-size: cover;
}
.theme {
    background-image: url("../assets/theme_bg.jpg") !important;
    display: flex;
    justify-content: center;
    background-size: cover;
    padding-top: 5em;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 5%;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-top: 3%;
}
.events{
    background-image: url("../assets/events_bg.jpg");
}

.about-us {
    background-image: url("../assets/about_us.jpg");
    background-size: cover;
    background-position: 50% 80%;
}

@media (max-width: 1000px) {
    .theme{
        font-size: 0.9em;
    }
    .glimpse{
        background-image: url("../assets/glimpse_m.jpg");
    }
    .prev-data {
        text-align: center !important;
        font-size: 0.8em;
    }
    .prev-data h1 {
        margin-left: 0px !important;
    }
    .events-heading {
        font-size: 3.5em !important;
    }
}

@media (max-width: 850px) {
    .title-box{
        font-size: 0.9em;
        margin-left: 0px;
        justify-content: center;
    }
    .about-us{
        font-size: 0.9em;
        background-position: 15% 80% !important;
    }
    .theme {
        font-size: 0.8em;
    }
    .youtube-video {
        margin-top: 60% !important;
    }
    .glimpse-heading {
        margin-left: 0px;
    }
}
@media (max-width: 767px) {
    .theme {
        font-size: 0.7em;
    }
    .theme-content {
        height: 30%;
    }
    .youtube-video {
        width: 60% !important;
        height: 65% !important;
        padding-right: 0px;
        margin-top: 10em !important;
    }
    .theme {
        padding-right: auto !important;
        padding-left: auto !important;
    }
    .yt-video-col {
        margin-left: 0px !important;
    }
}
@media (max-width: 700px) {
    .title-box{
        text-align: center;
        font-size: 0.7em;
        margin-left: 0px;
        justify-content: center;
        background-image: url("../assets/home_bg_m.jpg");
    }
    .about-us {
        font-size: 0.7em;
        padding-right: 1% !important;
    }
    
.namecontainer
{
    display: flex;

}
.logoDiv
{
    height: 1px;
    width: 75px;
}
.change 
{
    height : 100px ;
    width : 100px ;
}

}
@media (max-width : 576px) {
    .about-us {
        background-image: url("../assets/about_us_m.jpg") !important;
        background-position-x: center;
        background-position-y: 60%;
        font-size: 0.55em;
    }
    .theme{
        font-size: 0.6em;
    }
    .glimpse {
        font-size: 0.7em;
        background-position: 50% 65%;
    }
    .youtube-video {
        width: 75% !important;
    }
}
@media (max-width: 450px) {
    .title-box{
        font-size: 0.45em;
        margin-left: 0px;
        justify-content: center;
        align-items: baseline;
        padding-top: 30%;
    }
    .theme {
        padding-bottom: 0px;
    }
    .youtube-video {
        width: 75% !important;
        margin-top: 10em !important;
    }
    .events-heading {
        font-size: 2.8em !important;
    }
    .us 
    {
        transform: translate(-30px ,0px);
    }
}
@media (max-width: 370px) {
    .glimpse-heading {
        font-size: 3em !important;
    }
    .youtube-video {
        height: 50% !important;
        margin-top: 14em !important;
    }

}