@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

@font-face {
    font-family: "Stopmotion";
    src: local("Stopmotion"),
      url("../fonts/Stopmotion.ttf") format("truetype");
}

@font-face {
    font-family: "Benedict";
    src: local("Benedict"),
      url("../fonts/Benedict.otf") format("opentype");
}

.title-box {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.title {
    font-family: "Stopmotion";
    white-space: nowrap;
    width: 39em;
}
.title h1 {
    text-shadow: 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;

}
.theme {
    background-image: url("../assets/theme_bg.jpg") !important;
    display: flex;
    justify-content: center;
    background-size: 100%;
    padding-top: 5em;
    background: transparent;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 10%;
    padding-left: 1em;
}
.events{
    background-image: url("../assets/events_bg.jpg");
}

.about-us {
    background-image: url("../assets/about_us.jpg");
}

@media (max-width: 850px) {
    .title-box{
        font-size: 0.9em;
        margin-left: 0px;
        justify-content: center;
    }
}
@media (max-width: 700px) {
    .title-box{
        text-align: center;
        font-size: 0.7em;
        margin-left: 0px;
        justify-content: center;
    }
}
@media (max-width: 450px) {
    .title-box{
        font-size: 0.6em;
        margin-left: 0px;
        justify-content: center;
    }
}