@font-face {
    font-family: "Spaceboards";
    src: local("Spaceboards"),
      url("../fonts/Spaceboards.otf") format("opentype");
}
@font-face {
    font-family: "MullerBold";
    src: local("MullerBold"),
      url("../fonts/MullerBold.ttf") format("truetype");
}

.menu {
	cursor: pointer;
	margin-right: 26px;
}
.nav-but-wrap {
	position: relative;
	display: inline-block;
	float: right;
	padding-left: 15px;
	padding-top: 15px;
	-webkit-transition : all 0.3s ease-out;
	-moz-transition : all 0.3s ease-out;
	-o-transition :all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.menu-icon {
	height: 30px;
	width: 30px;
	position: relative;
	z-index: 2;
	cursor: pointer;
	display: block;
}
.menu-icon__line {
	height: 2px;
	width: 30px;
	display: block;
	background-color: #fff;
	margin-bottom: 7px;
	cursor: pointer;
	-webkit-transition: background-color .5s ease, -webkit-transform .2s ease;
	transition: background-color .5s ease, -webkit-transform .2s ease;
	transition: transform .2s ease, background-color .5s ease;
	transition: transform .2s ease, background-color .5s ease, -webkit-transform .2s ease;
}
.menu-icon__line-left {
	width: 16.5px;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	transition: all 200ms linear;
}
.menu-icon__line-right {
	width: 16.5px;
	float: right;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	transition: all 200ms linear;
}
.menu-icon:hover .menu-icon__line-left,
.menu-icon:hover .menu-icon__line-right {
	width: 30px;
}
.link{
	position: relative;
    color: #F0FFFF;
    font-family: "MullerBold";
	text-transform: uppercase;
	display: inline-block;
}
.link::before {
	content: '';
    position: absolute;
    width: 100%;
    height: 4px;
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.link:hover::before {
	transform-origin: left;
	transform: scaleX(1);
}
.nav_link {
	text-decoration: none;
	margin-top: 1.5em;
}
.brand{
    font-size: 2em;
    letter-spacing: 2px;
    position: relative;
    top: 7px;
}
.menu_container {
	background-color: #000;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 2em;
	z-index: 2;
	width: 100%;
}