.card {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    height: 350px;
    width: 320px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    border-radius: 8px;
    -webkit-box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
            box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
    font-family: 'Poppins',sans-serif;
}
.card-img {
    height: 250px;
    width: 230px;
    border-radius: 10px;
    background: transparent;
    margin: 0px auto 10px auto;
    left: 0;
    right: 0;
}
.card-img img{
    height: 86%;
	width: 86%;
    margin-left: 7%;
    margin-top: 7%;
}
.desc{
    width: 100%;
    text-align: center;
}
.primary-text{
    color: #d5d5d5;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.7px;
    margin: 5px 0;
}
.secondary-text{
    color: #c0c0c0;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 5px 0;
}
.details{
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: 70px;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    position: absolute;
    bottom: 0;
    border-radius: 0 0 8px 8px;
}

.details>div{
    text-align: center;
}
.details>div:first-child{
    border-right: 2px solid rgba(255,255,255,0.08);
}
.member-links{
    margin-bottom: 10px;
}
